.info {
    display: flex;
    align-items: center;
}

.avatar {
    margin-right: 12px;
}

.inactive {
    color: var(--attach_picker_tab_inactive_icon);
}

.cell {
    margin-left: -10px;
}

.menu {
    display: flex;
}

.menuItem {
    color: var(--header_tint);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
