.imagePlaceholder {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--landing_login_button_background);
    margin-right: 12px;
    flex-shrink: 0;
    background: var(--landing_field_background);
    cursor: pointer;
}

.file {
    display: none;
}

.caption {
    margin-top: 4px;
}

.createButton {
    background: var(--background_content);
    padding: 8px;
}

.container {
    padding-bottom: 60px;
}
