.userIcon {
    border-radius: 50%;
    overflow: hidden;
    background: var(--header_tint);
    color: var(--white);
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
