.user {
    position: relative;
    display: inline-flex;
    margin-left: 12px;
    flex-direction: column;
    width: 60px;
    flex-shrink: 0;
}

.user:first-child {
    margin-left: 0;
}

.deleteIcon {
    position: absolute;
    top: -3px;
    right: -3px;
    z-index: 1;
    background: var(--white);
    border-radius: 50%;
    border: 2px solid var(--background_content);
    color: var(--icon_secondary);
}

.name {
    margin-top: 6px;
    text-align: center;
}
