.imagePlaceholder {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--landing_login_button_background);
    margin-right: 12px;
    flex-shrink: 0;
    background: var(--landing_field_background);
    cursor: pointer;
    position: relative;
}

.file {
    display: none;
}

.spinner {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
